<form action=<%= action %> method=<%= metodo %>
    <div class="mb-3">
        <label class="form-label fw-bold" for="nombre">Nombre</label> 
        <input class="form-control" name="nombre">
   </div>
   <div class="mb-3">
    <label class="form-label fw-bold" for="nombre">Apellido</label> 
    <input class="form-control" name="apellido">
</div>
<div class="mb-3">
    <label class="form-label fw-bold" for="nombre">Edad</label> 
    <input class="form-control" name="edad">
</div>
<div class="col-12"></div>
<input class="btn btn-succes" type="submit" value="Enviar">
</form>