<section class="p-3 col-lg-4 m-auto bg-secondary" style="--bs-bg-opacity: .5;">
    {{#if msj}}
    <p>{{msj}}</p>
    {{/if}}
    <h1 class="text-center mb-3">ERROR AL INICIAR SESION</h1>
        <a href="/session/login" class="btn btn-primary btn-lg active" role="button">Ir al login</a>

</section>