block contenido 
h1 curso node basico 


        HTML
            head
                title='plantilla pug'
            body 
                h1=mensaje    
            footer  
                    h2='footer'