<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Carrito Tomas Leon</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <div class="d-flex">
        <span class="navbar-text ">
          Bienvenido {{username}}
        </span>

        <div class="d-flex">
          <a href="/chat" class="btn btn-primary">Chat</a>
          <a id="mis-mensajes" class="btn btn-primary">Mis mensajes</a>
          <form class="ml-2" action="/session/logout" method="POST">
            <button type="submit" class="btn btn-secondary">
              Logout
            </button>
          </form>
        </div>

      </div>

    </div>
  </div>
</nav>