<h2> INGRESAR PRODUCTO</h2>

<form onsubmit="return agregarProducto(this)">
    <input id="titulo" type="text" name="titulo" placeholder="Titulo" required>
    <input id="descripcion" type="text" name="descripcion" placeholder="Descripcion" required>
    <input id="precio" type="number" name="precio" placeholder="Precio" required>
    <input id="stock" type="number" name="stock" placeholder="Stock" required>
    <input id="thumbnail" type="text" name="thumbnail" placeholder="Link imagen" required>
    <input type="submit" value="Agregar">
</form>