<h2> INGRESAR PRODUCTO</h2>

<form action="/api/productos" method="POST">
    <input type="text" name="titulo" placeholder="Titulo" required>
    <input type="number" name="precio" placeholder="Precio" required>
    <input type="text" name="thumbnail" placeholder="Link imagen">
    <input type="submit" value="Agregar">
</form>

<a href="/productos"> Ir a la lista de productos</button>